body {
  margin: 0;
  padding: 0;
  color: white;
  background-color: black;
}

.comeco {
  background-image: url("./img/Background.png");
}

.secao {
  display: flex;
}

.secao-texto {
  display: flex;
  flex-direction: column;
  width: 30vw;
}

.cabecalho-links {
  display: flex;
}

footer {
  display: flex;
  flex-direction: column;
}
