@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --padding-body-cima-baixo: 2rem;
  --padding-body-esq-dir: 4rem;
  --margin-padding-secao-cima-baixo: 2rem;
  --margin-padding-secao-esq-dir: 6rem;
  --largura-componentes: calc(100vw - var(--padding-body-esq-dir) * 2 - var(--margin-padding-secao-esq-dir) * 2);
  --max-largura-componentes: 1500px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: var(--padding-body-cima-baixo) var(--padding-body-esq-dir);
  font-family: "Inter", sans-serif;
  color: white;
  background-color: darkslategrey;
  display: flex;
  flex-direction: column;
  align-items: center;
}

small {
  color: darkgray;
  background-color: black;
}

.componente {
  width: var(--largura-componentes);
  max-width: var(--max-largura-componentes);
}

.secao {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 var(--margin-padding-secao-esq-dir);
  padding: var(--margin-padding-secao-cima-baixo) 0;
  gap: 1rem;
  background-color: violet;
}

.secao-comeco {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-image: url("./img/Background.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}

.grupo-botoes-assinar {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  margin: 0 1rem;
  gap: 1rem;
}

.botao-assinar {
  padding: 1rem;
  border-radius: 0.5rem;
  color: white;
  text-decoration: none;
  text-align: center;
}

.botao-assinar-combo {
  border: none;
  background-color: mediumblue;
}

.botao-assinar-alura-plus {
  border-width: 1px;
  border-color: white;
  border-style: solid;
  background-color: transparent;
}

.secao-texto {
  background-color: darkorchid;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.25rem;
  width: 35vw;
  max-width: 600px;
}

.secao-imagem {
  background-color: darkgoldenrod;
  width: 30vw;
  max-width: 700px;
}

.botao-menor-assinar-combo {
  width: 30%;
}

.dispositivos {
  padding: var(--margin-padding-secao-cima-baixo) var(--margin-padding-secao-esq-dir);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightcoral;
}

.dispositivos-lista {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.dispositivos-item {
  background-color: greenyellow;
  width: 20vw;
}

.dispositivos-imagem {
  background-color: darkolivegreen;
  width: 20vw;
  align-self: center;
}

.dispositivos-legenda {
  background-color: darkgoldenrod;
  text-align: center;
}

footer {
  background-color: mediumvioletred;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 var(--margin-padding-secao-esq-dir);
  gap: 0.75rem;
  justify-content: space-between;
}

.footer-links {
  background-color: darkorange;
  list-style-type: none;
  text-align: center;
  li {
    display: inline-block;
    padding: 0.1rem 0.25rem;
  }
  a {
    text-decoration: none;
    color: white;
    font-size: 0.9rem;
  }
}

.footer-texto {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  gap: 1rem;
}
